<div class="container">
  <h1>{{title}}</h1>
  <div>
    <button type=button class="btn-lg btn-outline-secondary" (click)="router.navigate(['/main'])">Home</button>
    <button type=button class="btn-lg btn-outline-secondary" (click)="router.navigate(['/recommend'])">Recommended</button>
    <button type=button class="btn-lg btn-outline-secondary" (click)="router.navigate(['/mypage'])">My Page</button>
    <button type=button class="btn-lg btn-outline-secondary" (click)="router.navigate(['/welcome'])">Log In or Join</button>
    <button type=button class="btn-lg btn-outline-warning" (click)="signout()">Log Out</button>
  </div>
</div>
<router-outlet></router-outlet>
