<!DOCTYPE html>
<html lang="en">
    <div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Adfree Review!</h1>
        <p class="lead">introduce adfree review</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <h1>Latest Ratings</h1>
      <div class="row">
        <div class="col-lg-4" 
        *ngFor="let rating of latest_ratings">
          <h2>{{rating.id}}. post : {{rating.post_id}}</h2>
        	 <span class="text-muted">adfree score : {{rating.adfree_score}}</span><br> 
              <span class="text-muted">content score : {{rating.content_score}}</span><br>
              <span class="text-muted">comment : {{rating.comment}}</span><br>
              <span class="text-muted">time stamp : {{rating.time_stamp}}</span><br>
              
              user id : {{rating.user_id}}
          <p><a class="btn btn-primary" href="#" role="button">Goto post &raquo;</a></p>
        </div>
      </div>

	<br><br>

	<h1>Top Posts</h1>
      <div class="row">
        <div class="col-lg-4" 
        *ngFor="let post of top_posts">
          <h2>{{post.id}}. {{post.title}}</h2>
	     <span class="text-muted">adfree score : {{post.adfree_score}}</span> <br>
          <span class="text-muted">content score : {{post.content_score}}</span><br>
          <span class="text-muted">total score : {{post.total_score}}</span><br>              
          <p><a class="btn btn-primary" href="#" role="button">Goto post &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; SWPP team12</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</html>
