<div *ngIf="my_info" class="container">
  <!-- Content here -->
  <div class="row">
    <div class="col-md-8">
      <div class="border rounded left-panel panel my-ratings">
        <h4>My Ratings</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row border rounded right-panel panel my-info">
        <div class="col-md-12">
          <div *ngIf="my_info.username" class="row inner">
            <h3>Hello, {{my_info.username}}!</h3>
          </div>
          <div>
            <img src="assets/images/heart-1.png">
          </div>
          <div class="row inner">
            <h3>{{my_info.score}}pt</h3>
          </div>
        </div>
      </div>
      <div class="row border rounded right-panel panel setting">
        <div class="row info">
          <h3>Settings</h3>
        </div>
        <div class="row rounded right-panel info">
          <div *ngIf="my_info.domain_list" class="col-md-4">
            <div *ngFor="let d of all_domain_list" class="row cell">
                {{d}}
            </div>
          </div>
          <div *ngIf="my_info.domain_list" class="col-md-8">
            <div *ngFor="let domain of my_domain_list" class="row cell">
              {{isDomain(domain)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
