li {
  text-align: center;
  width: 50%;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  width: 95%;
  margin: 10px;
}

footer {
  padding: 20px 40px 20px 40px;
  margin: 40px 10px 40px 10px;
}

.container {
  margin-top: 70px;
}

.panel {
  padding: 20px 40px 20px 40px;
  margin: 20px;
  align-items: center;
}

.welcome_box {
  height: auto;
  width: 500px;
  margin:0 auto;
}
