body {
  width: 410px;
  height: 300px;
}

.wrapper {
    text-align: center;
}

button {
  margin: auto;
  width: 25%;
  text-align: center;
  color: white;
  background-color: grey;
  padding: 100em 7em 2em 0;
}

button:hover {
  background-color: #ff3300;
  cursor: pointer;
}
